<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="event.component.css" />
</head>

<div id = "background">

    <div id="eventinfo">
        <p id = "header"> Niantic introduced events months after releasing the game to help trainers gain advanatage in all forms including candies, XP rewards and much more.
        </p>



    </div>

    <div id="firstevent">
        <div id = "first">
            <h1> Halloween Event </h1>
            <h3>October 26 - November 1</h3>
            <p>From October 26th to November 1st, there were increased<br> spawn rates of certain "spooky" Pokemon,<br> including other bonuses.</p>

            <p>
                The following Pokemon showed up at a much higher <br>rate than normal even if these Pokemon don't normally <br>appear in your areas:<br> Zubat, Golbat, Cubone, Marowak, Gastly, Haunter,<br> Grengar, Drowzee and Hypno.
            </p>

            <p>
                Also included was the temporary ability to gain Pokemon<br> Candy at increased rates. <br>This includes the following candy-obtaining methods:
            </p>
            <ul>
                <li>Catching a Pokemon (6 Candies each)</li>
                <li>Transferring Pokemon (2 candies each)</li>
                <li>Walking a Buddy Pokemon (4x normal rate)</li>
                <li>Hatching a Pokemon (2x normal candies)</li>
            </ul>


        </div>
    </div>

    <div id="secondevent">
        <div id = "second">
            <h1> Thanksgiving Event </h1>
            <h3> November 23 - November 30</h3>

            <p>The second Pokemon Go event ever was announced on Niantic's <br>
                Pokemon Go site on November 21, 2016.
                <br>From November 23rd at 00:00 UTC and going through
                <br>November 30th 00:00 UTC, trainers received double
                <br>the amount of XP and Stardust when completing in-game actions</p>

        </div>
    </div>


    <div id="thirdevent">
        <div id = "third">
            <h1> Christmas Event </h1>
            <h3> December 25 - January 3</h3>

            <p>  PokéStops will
                awarded one single-use Incubator
                <br> each day after first spin.
                There were greater <br>
                chances of finding Eggs that hatch Togepi, Pichu,
                <br> and several other recently
                found baby Pokémon. <br>
                Special Pikachu wearing festive hats were found
                <br> everywhere!</p>

        </div>
    </div>


    <div id="fourthevent">
        <div id = "fourth">
            <h1> Starter Event </h1>
            <h3> December 30 - January 8</h3>

            <p>  In addition, from the afternoon of December 30, 2016, through
                the afternoon of January 8, 2017 (PST),
                <br> the first partner Pokémon
                and their Evolutions, originally discovered in the Kanto region,
                are more likely to be encountered. This means a greater chance to catch
                Bulbasaur, Ivysaur, and Venusaur, as well as Charmander, Charmeleon, and
                Charizard, plus Squirtle, Wartortle, and Blastoise! As a way to increase
                your chance to
                <br>encounter one of these Pokémon, Lure Modules will also last
                for 60 minutes instead of 30 minutes.</p>

        </div>
    </div>
</div>
