#buddyimg{
	margin-top: 20px;
 	margin-left: 30px;
 	font-size:20px;
}

#buddyinfo{
	font-size: 15px;
	margin-left:30px;
	margin-top: 20px;
}

table{
	font-size: 12px;
	border:transparent;
}

p {
	font-size: 1.5em;
	text-align: justify;
	margin-right: 3em;
	padding-bottom: 0.5em;
	padding-top: 1em;
}

img {
	width: 7em;
	height: 7em;
}

#background {
	background-color: whitesmoke;
}