
    
   
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="welcome.component.css" />
</head>

<div id="bg">


</div>

 <div id="pokemon"><a [routerLink]="['/pokemon']"> Pokemon </a>
 
 </div>
      <div id="buddy"> <a [routerLink]="['/buddy']"> Buddy List </a></div>
      <div id="egg"> <a [routerLink]="['/egg']"> Egg Chart </a></div>
      <div id="level"> <a [routerLink]="['/products']"> Level Rewards  </a></div>
      <div id="evolve"> <a [routerLink]="['/evolve']"> Evolve Calculator </a></div>
      <div id="event"> <a [routerLink]="['/event']"> Events </a></div>





   