<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="egg.component.css" />
</head>

<div id = "background">

    <div id="buddyinfo">


        <p>
            Different Pokemon can be hatched from eggs by walking specific distance including 2kms, 5kms
            and 10kms.
        </p>


    </div>

    <div id="buddyimg">

        <p> Egg Chart : </p>
        <p><img class = "egg" src="./app/assets/images/2.png"> 2 kms egg : </p>


        <table border="1" width="100%" style="width: 168px">


            <tr>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f3/1.jpg/150px-1.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f3/1.jpg/200px-1.jpg 2x" />
                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d0/4.jpg/150px-4.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d0/4.jpg/200px-4.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/fe/7.jpg/150px-7.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/fe/7.jpg/200px-7.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/a/ae/10.jpg/150px-10.jpg
  1.5x,
  http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/a/ae/10.jpg/200px-10.jpg
      2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/94/13.jpg/150px-13.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/94/13.jpg/200px-13.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/0/03/21.jpg/150px-21.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/0/03/21.jpg/200px-21.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"
                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/cf/25.jpg/150px-25.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/cf/25.jpg/200px-25.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/b/b2/35.jpg/150px-35.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/b/b2/35.jpg/200px-35.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/cd/39.jpg/150px-39.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/cd/39.jpg/200px-39.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"
                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/fd/41.jpg/150px-41.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/fd/41.jpg/200px-41.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d3/74.jpg/150px-74.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d3/74.jpg/200px-74.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/34/129.jpg/150px-129.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/34/129.jpg/200px-129.jpg 2x" />
                    </div><br />
                </td>






            </tr>

            <tr align="center"> <td> Bulbasaur </td>
                <td> Charmander </td>
                <td> Squirtle </td>
                <td> Caterpie </td>
                <td> Weedle </td>
                <td> Spearow </td>
                <td> Pikachu </td>
                <td> Clefairy </td>
                <td> Jigglypuff </td>
                <td> Zubat </td>
                <td> Geodude </td>
                <td> Magikarp </td>


            </tr>


        </table>

        <br>

        <p> <img  class = "egg" src="./app/assets/images/5.png" > 5 kms egg : </p>

        <table border="1" width="100%" style="width: 168px">


            <tr>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/6/64/23.jpg/150px-23.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/6/64/23.jpg/200px-23.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e0/27.jpg/150px-27.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e0/27.jpg/200px-27.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e2/29.jpg/150px-29.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e2/29.jpg/200px-29.jpg 2x" />


                    </div><br />
                </td>







                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/8/85/32.jpg/150px-32.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/8/85/32.jpg/200px-32.jpg 2x" />


                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/9b/37.jpg/150px-37.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/9b/37.jpg/200px-37.jpg 2x" />
                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/4f/43.jpg/150px-43.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/4f/43.jpg/200px-43.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/55/46.jpg/150px-46.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/55/46.jpg/200px-46.jpg 2x" />

                    </div><br />
                </td>
                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/3f/48.jpg/150px-48.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/3f/48.jpg/200px-48.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/6/61/50.jpg/150px-50.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/6/61/50.jpg/200px-50.jpg 2x" />


                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/b/ba/52.jpg/150px-52.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/b/ba/52.jpg/200px-52.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/db/54.jpg/150px-54.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/db/54.jpg/200px-54.jpg 2x" />
                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/2f/56.jpg/150px-56.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/2f/56.jpg/200px-56.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/94/58.jpg/150px-58.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/94/58.jpg/200px-58.jpg 2x" />

                    </div><br />
                </td>




            </tr>

            <tr align="center"> <td> Ekans </td>
                <td> Sandshrew </td>
                <td> Nidoran (f) </td>
                <td> Nidoran (m) </td>
                <td> Vulpix </td>
                <td> Oddish </td>
                <td> Paras </td>
                <td> Venonat </td>
                <td> Digglet </td>
                <td> Meowth </td>
                <td> Psyduck </td>
                <td> Mankey </td>
                <td> Growlithe </td>


            </tr>

            <tr>










            <tr>


            </tr>



            <tr>








                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/5a/60.jpg/150px-60.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/5a/60.jpg/200px-60.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/28/66.jpg/150px-66.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/28/66.jpg/200px-66.jpg 2x" />

                    </div><br />
                </td>





                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/5f/69.jpg/150px-69.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/5f/69.jpg/200px-69.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e1/72.jpg/150px-72.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e1/72.jpg/200px-72.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/4a/63.jpg/150px-63.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/4a/63.jpg/200px-63.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/3d/79.jpg/150px-79.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/3d/79.jpg/200px-79.jpg 2x" />


                    </div><br />
                </td>




                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f8/81.jpg/150px-81.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f8/81.jpg/200px-81.jpg 2x" />

                    </div><br />
                </td>





                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/8/86/83.jpg/150px-83.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/8/86/83.jpg/200px-83.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"
                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/b/b8/77.jpg/150px-77.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/b/b8/77.jpg/200px-77.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/35/84.jpg/150px-84.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/35/84.jpg/200px-84.jpg 2x" />

                    </div><br />
                </td>




                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/c7/86.jpg/150px-86.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/c7/86.jpg/200px-86.jpg 2x" />

                    </div><br />
                </td>




                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/28/88.jpg/150px-88.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/28/88.jpg/200px-88.jpg 2x" />

                    </div><br/>
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/3f/90.jpg/150px-90.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/3/3f/90.jpg/200px-90.jpg 2x" />

                    </div><br />
                </td>


            </tr>

            <tr align="center"> <td> Poliwag </td>
                <td> Machop </td>
                <td> Bellsprout </td>
                <td> Tentacool </td>
                <td> Abra </td>
                <td> Slowpoke </td>
                <td> Magnemite </td>
                <td> Farfetch'd </td>
                <td> Ponyta </td>
                <td> Duduo </td>
                <td> Seel </td>
                <td> Grimer </td>
                <td> Shelldar </td>


            <tr>















            </tr>



            <tr>






                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/57/92.jpg/150px-92.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/57/92.jpg/200px-92.jpg 2x" />

                    </div><br />
                </td>




                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/7/7c/95.jpg/150px-95.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/7/7c/95.jpg/200px-95.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/45/96.jpg/150px-96.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/45/96.jpg/200px-96.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/15/98.jpg/150px-98.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/15/98.jpg/200px-98.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/1a/100.jpg/150px-100.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/1a/100.jpg/200px-100.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/fd/102.jpg/150px-102.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/fd/102.jpg/200px-102.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d9/104.jpg/150px-104.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d9/104.jpg/200px-104.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e4/108.jpg/150px-108.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/e/e4/108.jpg/200px-108.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/5e/109.jpg/150px-109.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/5e/109.jpg/200px-109.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/11/111.jpg/150px-111.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/11/111.jpg/200px-111.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d5/115.jpg/150px-115.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d5/115.jpg/200px-115.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/56/116.jpg/150px-116.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/56/116.jpg/200px-116.jpg 2x" />

                    </div><br />
                </td>




                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/24/118.jpg/150px-118.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/24/118.jpg/200px-118.jpg 2x" />

                    </div><br />
                </td>



            <tr align="center"> <td> Gastly </td>
                <td> Onix </td>
                <td> Drowzee </td>
                <td> Krabby </td>
                <td> Voltorb </td>
                <td> Exeggute </td>
                <td> Cubone </td>
                <td> Lickitung </td>
                <td> Koffing </td>
                <td> Ryhorn </td>
                <td> Kangakasan </td>
                <td> Horsea </td>
                <td> Goldeen </td>

            <tr>







            <tr>









                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/7/76/120.jpg/150px-120.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/7/76/120.jpg/200px-120.jpg 2x" />
                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d4/128.jpg/150px-128.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d4/128.jpg/200px-128.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/6/6e/137.jpg/150px-137.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/6/6e/137.jpg/200px-137.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f5/133.jpg/150px-133.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f5/133.jpg/200px-133.jpg 2x" />

                    </div><br />
                </td>



            <tr align="center"> <td> Staryu </td>
                <td> Tauros </td>
                <td> Porygon </td>
                <td> Eevee </td>



            <tr>


        </table>
        <br>

        <p> <img  class = "egg" src="./app/assets/images/10.png">10 kms egg :</p>

        <table border="1" width="100%" style="width: 168px">


            <tr>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/7/72/106.jpg/150px-106.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/7/72/106.jpg/200px-106.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/23/107.jpg/150px-107.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/23/107.jpg/200px-107.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/8/83/113.jpg/150px-113.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/8/83/113.jpg/200px-113.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/a/af/122.jpg/150px-122.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/a/af/122.jpg/200px-122.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f4/123.jpg/150px-123.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/f/f4/123.jpg/200px-123.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/0/02/124.jpg/150px-124.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/0/02/124.jpg/200px-124.jpg 2x" />
                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/98/125.jpg/150px-125.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/98/125.jpg/200px-125.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/0/09/126.jpg/150px-126.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/0/09/126.jpg/200px-126.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/49/127.jpg/150px-127.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/49/127.jpg/200px-127.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/57/131.jpg/150px-131.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/5/57/131.jpg/200px-131.jpg 2x" />

                    </div><br />
                </td>

                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/20/138.jpg/150px-138.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/2/20/138.jpg/200px-138.jpg 2x" />

                    </div><br />
                </td>



                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/90/140.jpg/150px-140.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/9/90/140.jpg/200px-140.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/1e/142.jpg/150px-142.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/1/1e/142.jpg/200px-142.jpg 2x" />

                    </div><br />
                </td>






            </tr>

            <tr align="center"> <td> Hitmonlee </td>
                <td> Hitmonchan </td>
                <td> Chansey </td>
                <td> Mr. Mime </td>
                <td> Scyther </td>
                <td> Jynx </td>
                <td> Electabuzz </td>
                <td> Magmar </td>
                <td> Pinsir </td>
                <td> Lapras </td>
                <td> Omanyte </td>

                <td> Kabuto </td>
                <td> Aerodactyl </td>

            </tr>



            <tr>





                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d3/143.jpg/150px-143.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/d/d3/143.jpg/200px-143.jpg 2x" />

                    </div><br />
                </td>


                <td align="center">
                    <div class="floatnone">
                        <img alt="9.jpg"

                             srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/46/147.jpg/150px-147.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/4/46/147.jpg/200px-147.jpg 2x" />

                    </div><br />
                </td>










            </tr>

            <tr align="center"> <td> Dratini </td>
                <td> Snorlax </td>



            </tr>

        </table>


</div>
    </div>
