<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="pokedata.component.css" />
</head>

<table border="1" width="100%" height="75%" style="width: 468px" align="center"> 

  <tr> 
    <td align="center" valign="top"> <b>#001 Bulbasaur</a></b><br /> 
   </td> 
   </tr>


  <tr> 
    <td valign="top" align="center"> 
      <div class="floatnone">
      <img alt="1.jpg" width="250" height="250" 

srcset="http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/cf/25.jpg/150px-25.jpg 1.5x, http://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-go/thumb/c/cf/25.jpg/200px-25.jpg 2x"
      
      
      />
      
      
      </a></div><br /> 
      </td> 
      
  </tr> 

   

  <tr> 
    <td align="center" valign="top"> <b>Type : Electric</a></b><br /> 
   </td> 
   </tr>

   <tr> 
    <td align="center" valign="top"> <b>Weight : 6kg</a></b><br /> 
   </td> 
   </tr>

   <tr> 
    <td align="center" valign="top"> <b>Height : 0.41m</a></b><br /> 
   </td> 
   </tr>

<tr> 
    <td align="center" valign="top"> <b> Evolves into : Raichu </a></b><br /> 
   </td> 
   </tr>

   <tr> 
    <td align="center" valign="top"> <b>Candies needed to evolve : 50 </a></b><br /> 
   </td> 
   </tr>

   </table>