<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="pokedata.component.css" />
</head>

<table border="1" width="100%" height="75%" style="width: 468px" align="center"> 

  <tr> 
    <td align="center" valign="top"> <b>#001 Bulbasaur</a></b><br /> 
   </td> 
   </tr>


  <tr> 
    <td valign="top" align="center"> 
      <div class="floatnone">
  

 <img alt="33.jpg" src="./app/assets/images/33.png"  width="250" height="250" data-width="100" data-height="92" _imagename="33.jpg" _imagecaption="33.jpg" class="gh-thumbnail thumbimage" />
      
      
      />
      
      
      </a></div><br /> 
      </td> 
      
  </tr> 

   

  <tr> 
    <td align="center" valign="top"> <b>Type : Poison</a></b><br /> 
   </td> 
   </tr>

   <tr> 
    <td align="center" valign="top"> <b>Weight : 19.5kg</a></b><br /> 
   </td> 
   </tr>

   <tr> 
    <td align="center" valign="top"> <b>Height : 0.89m</a></b><br /> 
   </td> 
   </tr>

<tr> 
    <td align="center" valign="top"> <b> Evolves into : Nidoking </a></b><br /> 
   </td> 
   </tr>

   <tr> 
    <td align="center" valign="top"> <b>Candies needed to evolve : 100 </a></b><br /> 
   </td> 
   </tr>

   </table>