<div id="rewardinfo">
 
    
    <p> As the trainer levels up, different rewards are obtained along with unlockables comprising of lucky eggs, incubators, potions, great and ultra balls. Xp needed to level increases at each level.
    </p>
  
</div>


<div class='panel panel-primary'>
    

    <!-- Filter the Products   -->
    <div class='panel-body'>
        

        <div class='table-responsive'>

            <table class='table' border="1">


<thead>
<th>Level</th>
<th>Experience required</th>
<th>Total experience</th>
<th>Item rewards</th>
<th>Item unlocks</th>
</thead>
   
      <tr>
        <td class = "darker">1</td>
        <td class = "darker">0</td>
        <td class = "darker">0</td>
        <td class = "darker">-</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>2</td>
        <td>1,000</td>
        <td>1,000</td>
        <td>Poke Ball x10</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">3</td>
        <td class = "darker">2,000</td>
        <td class = "darker">3,000</td>
        <td class = "darker">Poke Ball x15</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>4</td>
        <td>3,000</td>
        <td>6,000</td>
        <td>Poke Ball x15</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">5</td>
        <td class = "darker">4,000</td>
        <td class = "darker">10,000</td>
        <td class = "darker">Poke Ball x20, Potion x10, Revive x10, Incense</td>
        <td class = "darker">Gyms<br/>Potion<br/>Revive</td>
      </tr>
      <tr>
        <td>6</td>
        <td>5,000</td>
        <td>15,000</td>
        <td>Poke Ball x15, Potion x10, Revive x5, Incubator</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">7</td>
        <td class = "darker">6,000</td>
        <td class = "darker">21,000</td>
        <td class = "darker">Poke Ball x15, Potion x10, Revive x5, Incense</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>8</td>
        <td>7,000</td>
        <td>28,000</td>
        <td>Poke Ball x15, Potion x10, Revive x5, Razz Berry x10, Lure Module</td>
        <td>Razz Berry</td>
      </tr>
      <tr>
        <td class = "darker">9</td>
        <td class = "darker">8,000</td>
        <td class = "darker">36,000</td>
        <td class = "darker">Poke Ball x15, Potion x10, Revive x5, Razz Berry x3, Lucky Egg</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>10</td>
        <td>9,000</td>
        <td>45,000</td>
        <td>Poke Ball x20, Super Potion x20, Revive x10, Razz Berry x10, Incense, Lucky Egg, Egg Incubator, Lure Module</td>
        <td>Super Potion</td>
      </tr>
      <tr>
        <td class = "darker">11</td>
        <td class = "darker">10,000</td>
        <td class = "darker">55,000</td>
        <td class = "darker">Poke Ball x15, Super Potion x10, Revive x3, Razz Berry x3</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>12</td>
        <td>10,000</td>
        <td>65,000</td>
        <td>Great Ball x20, Super Potion x10, Revive x3, Razz Berry x3</td>
        <td>Great Ball</td>
      </tr>
      <tr>
        <td class = "darker">13</td>
        <td class = "darker">10,000</td>
        <td class = "darker">75,000</td>
        <td class = "darker">Great Ball x10, Super Potion x10, Revive x3, Razz Berry x3</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>14</td>
        <td>10,000</td>
        <td>85,000</td>
        <td>Great Ball x10, Super Potion x10, Revive x3, Razz Berry x3</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">15</td>
        <td class = "darker">15,000</td>
        <td class = "darker">100,000</td>
        <td class = "darker">Great Ball x15, Hyper Potion x20, Revive x10, Razz Berry x10, Incense, Lucky Egg, Egg Incubator, Lure Module</td>
        <td class = "darker">Hyper Potion</td>
      </tr>
      <tr>
        <td>16</td>
        <td>20,000</td>
        <td>120,000</td>
        <td>Great Ball x10, Hyper Potion x10, Revive x5, Razz Berry x5</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">17</td>
        <td class = "darker">20,000</td>
        <td class = "darker">140,000</td>
        <td class = "darker">Great Ball x10, Hyper Potion x10, Revive x5, Razz Berry x5</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>18</td>
        <td>20,000</td>
        <td>160,000</td>
        <td>Great Ball x10, Hyper Potion x10, Revive x5, Razz Berry x5</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">19</td>
        <td class = "darker">25,000</td>
        <td class = "darker">185,000</td>
        <td class = "darker">Great Ball x15, Hyper Potion x10, Revive x5, Razz Berry x5</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>20</td>
        <td>25,000</td>
        <td>210,000</td>
        <td>Ultra Ball x20, Hyper Potion x20, Revive x20, Razz Berry x20, Incense x2, Lucky Egg x2, Egg Incubator x2, Lure Module x2</td>
        <td>Ultra Ball</td>
      </tr>
      <tr>
        <td class = "darker">21</td>
        <td class = "darker">50,000</td>
        <td class = "darker">260,000</td>
        <td class = "darker">Ultra Ball x10, Hyper Potion x10, Revive x10, Razz Berry x10</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>22</td>
        <td>75,000</td>
        <td>335,000</td>
        <td>Ultra Ball x10, Hyper Potion x10, Revive x10, Razz Berry x10</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">23</td>
        <td class = "darker">100,000</td>
        <td class = "darker">435,000</td>
        <td class = "darker">Ultra Ball x10, Hyper Potion x10, Revive x10, Razz Berry x10</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>24</td>
        <td>125,000</td>
        <td>560,000</td>
        <td>Ultra Ball x15, Hyper Potion x10, Revive x10, Razz Berry x10</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">25</td>
        <td class = "darker">150,000</td>
        <td class = "darker">710,000</td>
        <td class = "darker">Ultra Ball x25, Max Potion x20, Revive x15, Razz Berry x15, Incense, Lucky Egg, Egg Incubator, Lure Module</td>
        <td class = "darker">Max Potion</td>
      </tr>
      <tr>
        <td>26</td>
        <td>190,000</td>
        <td>900,000</td>
        <td>Ultra Ball x10, Max Potion x15, Revive x10, Razz Berry x15</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">27</td>
        <td class = "darker">200,000</td>
        <td class = "darker">1,100,000</td>
        <td class = "darker">Ultra Ball x10, Max Potion x15, Revive x10, Razz Berry x15</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>28</td>
        <td>250,000</td>
        <td>1,350,000</td>
        <td>Ultra Ball x10, Max Potion x15, Revive x10, Razz Berry x15</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">29</td>
        <td class = "darker">300,000</td>
        <td class = "darker">1,650,000</td>
        <td class = "darker">Ultra Ball x10, Max Potion x15, Revive x10, Razz Berry x15</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>30</td>
        <td>350,000</td>
        <td>2,000,000</td>
        <td>Ultra Ball x30, Max Potion x20, Max Revive x20, Razz Berry x20, Incense x3, Lucky Egg x3, Egg Incubator x3, Lure Module x3</td>
        <td>Max Revive</td>
      </tr>
      <tr>
        <td class = "darker">31</td>
        <td class = "darker">500,000</td>
        <td class = "darker">2,500,000</td>
        <td class = "darker">Ultra Ball x10, Max Potion x15, Max Revive x10, Razz Berry x15</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>32</td>
        <td>500,000</td>
        <td>3,000,000</td>
        <td>Ultra ball x10, Max Potion x15, Max Revive x10, Razz Berry x15</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">33</td>
        <td class = "darker">750,000</td>
        <td class = "darker">3,750,000</td>
        <td class = "darker">Ultra Ball x10, Max Potion x15, Max Revive x10, Razz Berry x15</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>34</td>
        <td>1,000,000</td>
        <td>4,750,000</td>
        <td>Ultra Ball x10, Max Potion x15, Max Revive x10, Razz Berry x15</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">35</td>
        <td class = "darker">1,250,000</td>
        <td class = "darker">6,000,000</td>
        <td class = "darker">Ultra Ball x30, Max Potion x20, Max Revive x20, Razz Berry x20, Incense x2, Lucky Egg x1, Lure Module x1</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>36</td>
        <td>1,500,000</td>
        <td>7,500,000</td>
        <td>Ultra Ball x20, Max Potion x20, Max Revive x10, Razz Berry x20</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">37</td>
        <td class = "darker">2,000,000</td>
        <td class = "darker">9,500,000</td>
        <td class = "darker">Ultra Ball x20, Max Potion x20, Max Revive x10, Razz Berry x20</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>38</td>
        <td>2,500,000</td>
        <td>12,000,000</td>
        <td>Ultra Ball x20, Max Potion x20, Max Revive x10, Razz Berry x20</td>
        <td>-</td>
      </tr>
      <tr>
        <td class = "darker">39</td>
        <td class = "darker">3,000,000</td>
        <td class = "darker">15,000,000</td>
        <td class = "darker">Ultra Ball x20, Max Potion x20, Max Revive x10, Razz Berry x20</td>
        <td class = "darker">-</td>
      </tr>
      <tr>
        <td>40</td>
        <td>5,000,000</td>
        <td>20,000,000</td>
        <td>Ultra Ball x40, Max Potion x40, Max Revive x40, Razz Berry x40, Incense x4, Lucky Egg x4, Egg Incubator x4, Lure Module x4</td>
        <td>-</td>
      </tr>
                
            </table>
        </div>
    </div>
</div>